<div class="container">
    <div class="row">
        <div class="container-fluid profile-header" style="
            background: url('images/users/wall/mm_background.jpg') no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;">
            <div class="container">
                <div class="row profile-header-content">
                    <div class="col-md-3 col-sm-3 col-xs-4 profile-pic"><img src="images/users/avatar/mm_avatar.jpg" class="img-thumbnail"></div>
                    <div class="col-md-9 col-sm-9 col-xs-8 profile-about">
                        <h2>Mauricio Marín</h2>
                        <p>Profesor de Bases de Datos e Investigador de Yahoo!</a></p>
                    </div>
                </div>
           </div>
        </div>

        <div class="row no-margin">
            <ul class="nav nav-tabs margin">
                <li role="presentation">
                    <a href="profile.html"><i class="fa fa-picture-o fa-md"></i> Photostream</a>
                </li>
                <li role="presentation">
                    <a href="albums.html"><i class="fa fa-folder-open-o fa-md"></i> Álbumes</a>
                </li>
                <li role="presentation">
                    <a href="favorites.html"><i class="fa fa-heart-o fa-md"></i> Favoritas</a>
                </li>
            </ul>
        </div>
    </div>
</div>