<div class="container">
    <div class="row">
        <!-- Page Content -->
        <div class="container">
           <!-- Projects Row -->
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
            </div>
            <!-- /.row -->

            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
            </div>
            <!-- /.row -->

            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail center-div img-responsive" src="images/placeholders/750x450.gif" alt="">
                    </a>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>