<header>
	<nav class="navbar navbar-inverse navbar-fixed-top no-margin">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="home.html">BitPhoto</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tú <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Camera Roll</a></li>
                            <li><a href="">Photostream</a></li>
                            <li><a href="">Álbumes</a></li>
                            <li><a href="">Mapa</a></li>
                            <li><a href="">Favoritas</a></li>
                            <li><a href="">Actividad Reciente</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gente <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Fotos de</a></li>
                            <li><a href="">Fotos con</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explorar <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Fotos recientes</a></li>
                            <li><a href="">Mapa Mundial</a></li>
                            <li><a href="">Buscador de Cámara</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="upload.html">Subir Imágenes</a></li>
                </ul>
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Buscar en BitPhoto">
					</div>
					<button type="submit" class="btn btn-default">Buscar</button>
				</form>
			</div>
		</div>
	</nav>
</header>