<header>
	<nav class="navbar navbar-inverse navbar-fixed-top no-margin">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">BitPhoto</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav">
					<li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inicia Sesión <i class="fa fa-angle-down"></i></a>
		                <ul class="dropdown-menu dropdown-login">
		                    <li>
		                    	<div class="panel-body">
			                        <form role="form" action="home.html">
			                            <fieldset>
			                                <div class="form-group">
			                                    <input class="form-control" placeholder="Correo Electrónico" name="email" type="email" autofocus="">
			                                </div>
			                                <div class="form-group">
			                                    <input class="form-control" placeholder="Contraseña" name="password" type="password" value="">
			                                </div>
			                                <div class="checkbox">
			                                    <label>
			                                        <input name="remember" type="checkbox" value="Remember Me">Recordar sesión
			                                    </label>
			                                </div>
			                                <button href="javascript:;" class="btn btn-sm btn-success">Iniciar Sesión</button>
			                            </fieldset>
			                        </form>
			                    </div>
	    					</li>
		                </ul>
		            </li>
					<li class="active"><a href="register.html">Regístrate</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search" action="">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Buscar en BitPhoto">
					</div>
					<button type="submit" class="btn btn-default">Buscar</button>
				</form>
			</div>
		</div>
	</nav>
</header>