<div class="col-md-8">
    <div class="container margin center-block">
        <div class="row">
            <div class="col-xs-12 col-md-8 nopadding">
                <a href="#">
                    <img src="images/placeholders/800x300.gif" class="thumbnail img-responsive">
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-8 nopadding">
                <a href="#">
                    <img src="images/placeholders/800x300.gif" class="thumbnail img-responsive">
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-8 nopadding">
                <a href="#">
                    <img src="images/placeholders/800x300.gif" class="thumbnail img-responsive">
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-8 nopadding">
                <a href="#">
                    <img src="images/placeholders/800x300.gif" class="thumbnail img-responsive">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div id="featured">   
        <div class="page-header text-muted">
            Noticias de BitPhoto
        </div>
    </div>
    <!--/top story-->
    <div class="row margin">    
        <h3>Optimización del sitio</h3>
        <span>Se rediseña el backend del sitio web para una mejor experiencia.</span>
        <h4><span class="label label-default">Admin</span></h4>
        <h4><small class="text-muted">03/04/2015</small></h4>
    </div>
    <hr />
    <div class="row margin">    
        <h3>¡Comienza el diseño del sitio!</h3>
        <span>Comienza el diseño del layout gráfico del sitio, espero sea de su agrado.</span>
        <h4><span class="label label-default">Admin</span></h4>
        <h4><small class="text-muted">10/03/2015</small></h4>
    </div>
</div>
