<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <br />
            <div class="row">
                <a href="#">
                    <img src="images/placeholders/800x300.gif" class="thumbnail img-responsive img-home center-div">
                </a>
            </div>
            <br />
            <div class="row">
                <a href="#">
                    <img src="images/placeholders/800x300.gif" class="thumbnail img-responsive img-home center-div">
                </a>
            </div>
            <br />
            <div class="row">
                <a href="#">
                    <img src="images/placeholders/800x300.gif" class="thumbnail img-responsive img-home center-div">
                </a>
            </div>
            <br />
            <div class="row">
                <a href="#">
                    <img src="images/placeholders/800x300.gif" class="thumbnail img-responsive img-home center-div">
                </a>
            </div>
            <br />
        </div>
        <div class="col-xs-12 col-md-3">
            <div id="featured">   
                <h3>Noticias de BitPhoto</h3>
                <hr />
            </div>
            <!--/top story-->
            <div class="row margin">    
                <h3>Fin del Prototipo</h3>
                <span>¡Termina el diseño del prototipo web de BitPhoto!</span>
                <h4><small class="text-muted">11/04/2015</small></h4>
            </div>
            <hr />
            <div class="row margin">    
                <h3>Optimización del sitio</h3>
                <span>Se rediseña el backend del sitio web para una mejor experiencia.</span>
                <h4><small class="text-muted">03/04/2015</small></h4>
            </div>
            <hr />
            <div class="row margin">    
                <h3>¡Comienza el diseño del sitio!</h3>
                <span>Comienza el diseño del layout gráfico del sitio, espero sea de su agrado.</span>
                <h4><small class="text-muted">10/03/2015</small></h4>
            </div>
            <hr />
        </div>
    </div>
</div>