<div id="home" class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="container margin center-block">
			    <div class="row">
			        <div class="col-xs-12 col-md-8 nopadding">
			            <a href="#">
			                <img src="http://placehold.it/800x300" class="thumbnail img-responsive">
			            </a>
			        </div>
			     </div>
			     <div class="row">
			        <div class="col-xs-6 col-md-4 nopadding">
			            <a href="#">
			                <img src="http://placehold.it/400x200" class="thumbnail img-responsive">
			            </a>
			        </div>
			        <div class="col-xs-6 col-md-4 nopadding">
			            <a href="#">
			                <img src="http://placehold.it/400x200" class="thumbnail img-responsive">
			            </a>
			        </div>
		       </div>
			    <div class="row">
			        <div class="col-xs-6 col-md-4 nopadding">
			            <a href="#">
			                <img src="http://placehold.it/400x200" class="thumbnail img-responsive">
			            </a>
			        </div>
			        <div class="col-xs-6 col-md-4 nopadding">
			            <a href="#">
			                <img src="http://placehold.it/400x200" class="thumbnail img-responsive">
			            </a>
			        </div>
		        </div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="margin">
				.col-md-4
			</div>
		</div>
	</div>
</div>