<div class="container">
  <div class="row">
    
        <div class="timeline-centered">

        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-success">
                    <span class="fa upload"></span>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Zacarías Labarca del Río</a> <span>subió imágenes</span> <small>Hace 5 horas</small></h2>
                    <div class="row">
                      <div class="col-md-3">
                        <img src="images/gallery/gal02.jpg" class="thumbnail img-middle img-responsive img-rounded full-width">
                      </div>
                      <div class="col-md-3">
                        <img src="images/gallery/gal03.jpg" class="thumbnail img-middle img-responsive img-rounded full-width">  
                      </div>
                    </div>
                </div>
            </div>
        </article>


        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-secondary">
                    <i class="fa comments"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Armando Casas</a> <span>comentó una imagen</span> <small>Hace 12 horas</small></h2>
                    <blockquote>¡Excelente fotografía!</blockquote>
                    <div class="row">
                      <div class="col-md-3">
                        <img src="images/gallery/gal01.jpg" class="thumbnail img-middle img-responsive img-rounded full-width">  
                      </div>
                    </div>
                </div>
            </div>

        </article>


        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-info">
                    <i class="fa map-marker"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Elba Lazo</a> <span>etiquetó una foto en</span> <a href="#">W King St</a> <small>Ayer</small></h2>
                    <blockquote>¡Lo estoy pasando genial!</blockquote>
                    <img src="images/map/map1.jpg" class="img-middle img-responsive img-rounded full-width">
                </div>
            </div>

        </article>


        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-warning">
                    <i class="fa camera"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Steven Contreras</a> <span>cambió su</span> <a href="#">imagen de perfil</a> <small>Hace 2 días</small></h2>
                    <div class="row">
                      <div class="col-md-3">
                        <img src="images/users/avatar/user002.jpg" class="thumbnail img-middle img-responsive img-rounded full-width">
                      </div>
                    </div>
                </div>
            </div>

        </article>


        <article class="timeline-entry begin">

            <div class="timeline-entry-inner">

                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                    <i class="entypo-flight"></i> +
                </div>

            </div>

        </article>

    </div>

    
  </div>
</div>